<h1>Profil de l'utilisateur </h1>



<p>
First Name : <%= @student.first_name%>
Last Name : <%= @student.last_name%>
Email : <%= @student.email%>
School : <%= @student.school%>

Langues parlées : <%= @student.tongues %>
</p>
