<h1>Profil de l'utilisateur </h1>



<div>
First Name : <%= @student.first_name%> <br>
Last Name : <%= @student.last_name%> <br>
Email : <%= @student.email%> <br>
School : <%= @student.school%> <br>

Langues parlées : <%= @student.tongues %>
</div>

