<div class="padding">
<h1>Mon profil</h1>


<%# <%if @student.dossiers.attached?%>
  <%# <%= @student.dossiers.each do |dossier|%>
    <%# <%= link_to dossier.filename, rails_blob_path(dossier, disposition: "preview")%>
  <%# <% end %>
<%# <% end %>
<%# <%if @student.dossiers.attached?%>


 <%if @student.dossiers.attached?%>

    <% @student.dossiers.each do |dossier| %>
      <% if dossier.representable? %>
        <%= link_to image_tag(dossier.representation(resize: '500x500')), dossier %>
        <%= link_to image_tag(dossier.representation(resize: '500x500')), rails_blob_path(dossier, disposition: :attachment) %>
        <% elsif dossier.image? %>
        <%= link_to image_tag(dossier, width: 500), dossier %>
        <%else %>
        <%= link_to dossier.filename, dossier %>
        <% end %>
    <% end %>
  <% end %>




  <div class="containun">
    <div class="imageun">
      <%# <%= image_tag( 'avatar.png', {:style => "width:57px;height:57px;", class:"logos"}) %>
      <% if  @student.photo.image?%>
        <%= image_tag(@student.photo, style: "width:82px") %>
      <% end %>
    </div>
    <div class="descriptionun">
      <div style="display: flex;justify-content: space-between;">
        <h5><%= @student.first_name%> <%= @student.last_name%></h5><br>
      </div>
      <div class="ef"><%= @student.profile%></div> <br>
      <div class="ef"><%= @student.school%></div> <br>


    </div>







  </div>


    <br><br><br>




   <%= link_to "Modifier mon profil", edit_student_registration_path, class: "btn btn-primary"%>


<br>
<br>





  </div>


<style>
.off {
  display: none;
}

.containun {
  box-shadow: none;
}

.padding{
  padding: 20px;
}
</style>
