<div style="padding:10px">
  <h1>Nouvelle offre</h1>
  <h3> Rédiger une nouvelle offre </h3>
</div>



<%= simple_form_for ([@company, @offer]) do |f| %>
  <%= f.input :function, :label => "Poste" %>
  <%# <%= f.input :description, as: :text, :label => "Description",  placeholder: "Missions/ Profile / Key details ..." %>
  <%= f.input :content, as: :rich_text_area, :label => "Description",  placeholder: "Missions/ Profile / Key details ..."%>
  <%= f.input :town, :label => "Ville"%>
  <div class="yeah2">
    <%= f.input :salary, as: :float, :label => "Rémunération (mensuelle)" %>
    <i class="fa-sharp fa-solid fa-euro-sign"></i>
  </div>
  <%= f.input :start_date, as: :date, :label => "Date de début" %>
  <%= f.input :duration, as: :string, :label => "Durée (mois)" %>
  <%= f.submit 'Publier', class: "btn btn-primary" %>
<% end %>
