<h1>Yeahhhhhh</h1>
<h1>Ajoute un nouveau restau my maaan ! </h1>



<%= simple_form_for ([@company, @offer]) do |f| %>
  <%= f.input :function %>
  <%= f.input :description, as: :text %>
  <%= f.input :town %>
  <%= f.input :salary, as: :float %>
  <%= f.input :start_date, as: :date %>
  <%= f.input :duration, as: :integer %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
