<%# <div class="main-container" data-controller="display-booking">
  <div class= "container-flat-show">
    <div class="card-flat">
      <div class="img-card-elf">
        <%# <%= cl_image_tag @offer.photo.key, height: 300, width: 400, crop: :fill %>

      <%# <div class="card-flat-infos">
        <div class="card-flat-infos-title">
          <h2><%= @offer.function %>
        <%# </div>
        <div class="card-elves-infos-content">
          <p><%= @offer.description</p>
        <%# </div>
      </div>
    </div>
  </div>
</div> %>

<div class="main-container">
  <div class= "container-flat-show">
    <div class="card-flat">
      <div class="card-flat-infos">
        <div class="card-title">
          <h2><%= @offer.function.capitalize %> - <%= @offer.company.name.capitalize %> </h2>
        </div>
        <div class="card-shower-offer">
          <div class="description2">
            <div class="picture">
              <%= image_tag( @offer.company.photo, {:style => "width:57px;height:57px;", class:"logos"}) %>
            </div>
            <div class="list3">
              <ul>
                      <li class="li1">
                        <i class="fa-solid fa-location-dot"></i> <p> <%= @offer.town%> </p>
                      </li>
                      <li class="li1">
                        <i class="fa-solid fa-euro-sign"></i><p> <%= @offer.salary %>€ </p>
                      </li>
                      <li class="li1">
                        <i class="fa-sharp fa-solid fa-calendar-days" style="margin-right:2px;"></i><p> <%= @month %> <%=@offer.start_date.year%></p>
                      </li>
                      <li class="li1">
                        <i class="fa-solid fa-globe" style="margin-right:2px;"></i><p>
                        <% if @offer.company.website? %>
                          <%= link_to "Site web", @offer.company.website, :target => "_blank" %>
                        <%end%>
                        </p>
                      </li>
              </ul>
            </div>
          </div>
          <div class= "picture-cardshow">
          </div>
        </div>
        <div class="card-description-offre">
          <p style="padding:10px"> <%= @offer.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="show-offers-company" data-display-booking-target="form" style="padding: 10px;">


    <%= link_to "Liste des offres", offers_path, class: "btn btn-primary px-3 py-2  fs-10 mt-3" %>
    <% if @offer.company == current_company %>
      <%= link_to "Modifier", edit_company_offer_path, class: "btn btn-primary px-3 py-2  fs-10 mt-3" %>
      <%= link_to "Supprimer l'annonce", @offer, data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûrs de vouloir supprimer l'annonce ?"},class: "btn btn-danger px-3 py-2  fs-10 mt-3", style: "color: white;"%>
      <br>
      <br>






    <h3>Traitement des candidatures</h3>

    <h5>Candidatures en attente</h5>

    <div class="latable">

      <table>
          <caption> <%=@offer.function%></caption>
          <tr>
              <th scope="col">N°</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col"><i class="fa-solid fa-user-tie"></i></th>
              <th scope="col"><i class="fa-solid fa-envelope"></i></th>
              <th scope="col"><i class="fa-solid fa-phone"></i></th>
              <th scope="col">Mobilité</th>
              <th scope="col">Etablissement</th>
              <th scope="col">Type de stage</th>
              <th scope="col">Secteur visé</th>
              <th scope="col">Dispo dès :</th>
              <th scope="col">Pièces jointes</th>
              <th scope="col"></th>
          </tr>
            <% @applications.each do |application| %>
                           <% case Student.find(application.student_id).disponibility.month

          when 1
            @month = "Janvier"
          when 2
            @month = "Février"
          when 3
            @month = "Mars"
          when 4
            @month = "Avril"
          when 5
            @month = "Mai"
          when 6
            @month = "Juin"
          when 7
            @month = "Juillet"
          when 8
            @month = "Août"
          when 9
            @month = "Septembre"
          when 10
            @month = "Octobre"
          when 11
            @month = "Novembre"
          else
            @month = "Décembre"
          end %>

          <tr>
            <% if application.description?%>
              <th scope="row" class="hagla"><%=link_to @applications.to_a.find_index(application) + 1,company_application_path(application)%></th>
            <%else%>
              <th scope="row"><%= @applications.to_a.find_index(application) + 1%></th>
            <%end%>
              <td><%= Student.find(application.student_id).last_name.upcase %></td>
              <td><%= Student.find(application.student_id).first_name.capitalize%></td>
              <% if Student.find(application.student_id).photo.present? %>
                <td><%= image_tag(Student.find(application.student_id).photo, style: "width:82px") %></td>
              <%else%>
                <td></td>
              <% end %>
              <td><%= Student.find(application.student_id).email%></td>
              <td><%=Student.find(application.student_id).phone_number%></td>
              <td><%=Student.find(application.student_id).mobility%></td>
              <td><%= Student.find(application.student_id).school%></td>
              <td><%=Student.find(application.student_id).year%></td>
              <td><%=Student.find(application.student_id).wanted_area%></td>
              <td><%= @month %> <%=Student.find(application.student_id).disponibility.year %></td>
              <td>
                <% if application.images.attached? %>
                <% application.images.each do |attachment|%>
                 <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment"), target: :_blank %>
                <%end%>
                <%end%>
              </td>
              <td>
              <%= link_to (' <i class="fa-solid fa-check"></i>').html_safe, accept_company_application_path(application)%>
                <br> <%= link_to ('<i class="fa-solid fa-square-xmark"></i>').html_safe,decline_company_application_path(application)%>
              </td>
          </tr>


      <%end%>
      </table>

    </div>


    <h5>Candidatures retenues</h5>

    <div class="latable">

      <table>
          <caption> <%=@offer.function%></caption>
          <tr>
              <th scope="col">N°</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col"><i class="fa-solid fa-user-tie"></i></th>
              <th scope="col"><i class="fa-solid fa-envelope"></i></th>
              <th scope="col"><i class="fa-solid fa-phone"></i></th>
              <th scope="col">Mobilité</th>
              <th scope="col">Etablissement</th>
              <th scope="col">Type de stage</th>
              <th scope="col">Secteur visé</th>
              <th scope="col">Dispo dès :</th>
              <th scope="col">Pièces jointes</th>
              <th scope="col"></th>
          </tr>
            <% @applications3.each do |application| %>
             <% case Student.find(application.student_id).disponibility.month

          when 1
            @month = "Janvier"
          when 2
            @month = "Février"
          when 3
            @month = "Mars"
          when 4
            @month = "Avril"
          when 5
            @month = "Mai"
          when 6
            @month = "Juin"
          when 7
            @month = "Juillet"
          when 8
            @month = "Août"
          when 9
            @month = "Septembre"
          when 10
            @month = "Octobre"
          when 11
            @month = "Novembre"
          else
            @month = "Décembre"
          end %>
            <% if application.status == "nokept"%>
          <tr style="opacity: 15%;">
            <% if application.description?%>
              <th scope="row" class="hagla"><%=link_to @applications3.to_a.find_index(application) + 1,company_application_path(application)%></th>
            <%else%>
              <th scope="row"><%= @applications3.to_a.find_index(application) + 1%></th>
            <%end%>
              <td><%= Student.find(application.student_id).last_name.upcase %></td>
              <td><%= Student.find(application.student_id).first_name.capitalize%></td>
              <% if Student.find(application.student_id).photo.present? %>
                <td><%= image_tag(Student.find(application.student_id).photo, style: "width:82px") %></td>
              <%else%>
                <td></td>
              <% end %>
              <td><%= Student.find(application.student_id).email%></td>
              <td><%=Student.find(application.student_id).phone_number%></td>
              <td><%=Student.find(application.student_id).mobility%></td>
              <td><%= Student.find(application.student_id).school%></td>
              <td><%=Student.find(application.student_id).year%></td>
              <td><%=Student.find(application.student_id).wanted_area%></td>
              <td><%= @month %> <%=Student.find(application.student_id).disponibility.year %></td>
              <td>
                 <% if application.images.attached? %>
                 <% application.images.each do |attachment|%>
                 <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
                <%end%>
                <%end%>
              </td>
              <td>
                <div style="display:none">
                  <%= link_to ('<i class="fa-solid fa-face-smile"></i>').html_safe, keep_company_application_path(application)%> <br>
                  <%= link_to ('<i class="fa-solid fa-face-sad-tear"></i>').html_safe, nokeep_company_application_path(application)%>
                </div>
              </td>
          </tr>

        <%else%>
          <tr >
            <% if application.description?%>
              <th scope="row" class="hagla"><%=link_to @applications3.to_a.find_index(application) + 1,company_application_path(application)%></th>
            <%else%>
              <th scope="row"><%= @applications3.to_a.find_index(application) + 1%></th>
            <%end%>
              <td><%= Student.find(application.student_id).last_name.upcase %></td>
              <td><%= Student.find(application.student_id).first_name.capitalize%></td>
              <% if Student.find(application.student_id).photo.present? %>
                <td><%= image_tag(Student.find(application.student_id).photo, style: "width:82px") %></td>
              <%else%>
                <td></td>
              <% end %>
              <td><%= Student.find(application.student_id).email%></td>
              <td><%=Student.find(application.student_id).phone_number%></td>
              <td><%=Student.find(application.student_id).mobility%></td>
              <td><%= Student.find(application.student_id).school%></td>
              <td><%=Student.find(application.student_id).year%></td>
              <td><%=Student.find(application.student_id).wanted_area%></td>
              <td><%= @month %> <%=Student.find(application.student_id).disponibility.year %></td>
              <td>
                <% if application.images.attached? %>
                 <% application.images.each do |attachment|%>
                 <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
                <%end%>
                <%end%>
              </td>
              <td>
                  <%= link_to ('<i class="fa-solid fa-face-smile"></i>').html_safe, keep_company_application_path(application)%> <br>
                  <%= link_to ('<i class="fa-solid fa-face-sad-tear"></i>').html_safe, nokeep_company_application_path(application)%>
              </td>
          </tr>
        <%end%>
      <%end%>
      </table>

    </div>


    <h5>Candidatures retenues ++</h5>

    <div class="latable">

      <table>
          <caption> <%=@offer.function%></caption>
          <tr>
              <th scope="col">N°</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col"><i class="fa-solid fa-user-tie"></i></th>
              <th scope="col"><i class="fa-solid fa-envelope"></i></th>
              <th scope="col"><i class="fa-solid fa-phone"></i></th>
              <th scope="col">Mobilité</th>
              <th scope="col">Etablissement</th>
              <th scope="col">Type de stage</th>
              <th scope="col">Secteur visé</th>
              <th scope="col">Dispo dès :</th>
              <th scope="col">Pièces jointes</th>
              <th scope="col"></th>
          </tr>
            <% @applications4.each do |application| %>

            <% case Student.find(application.student_id).disponibility.month

            when 1
              @month = "Janvier"
            when 2
              @month = "Février"
            when 3
              @month = "Mars"
            when 4
              @month = "Avril"
            when 5
              @month = "Mai"
            when 6
              @month = "Juin"
            when 7
              @month = "Juillet"
            when 8
              @month = "Août"
            when 9
              @month = "Septembre"
            when 10
              @month = "Octobre"
            when 11
              @month = "Novembre"
            else
              @month = "Décembre"
            end %>

          <tr>
            <% if application.description?%>
              <th scope="row" class="hagla"><%=link_to @applications4.to_a.find_index(application) + 1,company_application_path(application)%></th>
            <%else%>
              <th scope="row"><%= @applications4.to_a.find_index(application) + 1%></th>
            <%end%>
              <td><%= Student.find(application.student_id).last_name.upcase %></td>
              <td><%= Student.find(application.student_id).first_name.capitalize%></td>
              <% if Student.find(application.student_id).photo.present? %>
                <td><%= image_tag(Student.find(application.student_id).photo, style: "width:82px") %></td>
              <%else%>
                <td></td>
              <% end %>
              <td><%= Student.find(application.student_id).email%></td>
              <td><%=Student.find(application.student_id).phone_number%></td>
              <td><%=Student.find(application.student_id).mobility%></td>
              <td><%= Student.find(application.student_id).school%></td>
              <td><%=Student.find(application.student_id).year%></td>
              <td><%=Student.find(application.student_id).wanted_area%></td>
              <td><%= @month %> <%=Student.find(application.student_id).disponibility.year %></td>
              <td>
                 <% if application.images.attached? %>
                 <% application.images.each do |attachment|%>
                 <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
                <%end%>
                <%end%>
              </td>
              <td>
              </td>
          </tr>
      <%end%>
      </table>

    </div>

        <%end%>
  </div>




<style>

.fa-face-smile::before {
    content: "\f118";
    color: green;
}
.fa-face-sad-tear::before {
    content: "\f5b4";
    color: red;
}
.latable{
  padding: 20px;
  color: black;
  font-size: 12px;
}

 td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

.fa-check::before {
    content: "\f00c";
    color: green;
}

.fa-square-xmark::before {
    content: "\f2d3";
    color: red;
}

.logos {
    filter: unset;
}

.hagla a{
text-decoration: none;
}

</style>


<%# <script>
document.querySelector('#yeatrois').addEventListener('click', myFunction);
document.querySelector('#yeaquatre').addEventListener('click', myFunctiondeux);

function myFunction() {
  document.querySelector('.formtrois').style.display = 'block';

}

function myFunctiondeux() {
  document.querySelector('.formquatre').style.display = 'block';

}
</script> %>
