
<div class="container-profile">
   <div class="col-2" style="width: 66%;">
      <div style="margin: 10%; width: 100%; display:flex;justify-content: space-between;">
        <%= link_to("Liste des offres", offers_path, {class: "btn btn-success text-decoration-none"}) %>
        <%= link_to("Profil", student_profile_path, {class: "btn btn-success text-decoration-none"}) %>
      </div>
    </div>
  <div class= "container mb-5" >
    <div class="container m-3">
      <h2> Mes demandes Candidatures</h2>
        <div class="flat-cards">
                <% @applications.each do |application| %>
                  <% if ['pending', 'accepted'].include?(application.status) %>
                    <% if @applications.to_a.index(application) % 2 == 0 %>
                      <div class="card"> <%= link_to student_offer_path(application.offer) do %>
                        <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
                        <div class="card-logo">
                          <% if application.offer.company.photo.present? %>
                            <%= image_tag application.offer.company.photo%>
                          <% end %>
                        </div>
                        <div class="description-side">
                          <h3><%= application.offer.function %></h3>
                          <div>
                          <p><%= Company.find(application.offer.company_id).name %></h3></p>
                          </div>
                          <ul>
                            <li>
                              <% if application.offer.duration?  %>
                              <p>Stage <%= application.offer.duration %> mois (à partir de  <%= @month%> <%=  application.offer.start_date.year %>)</p>
                              <% end %>
                            </li>
                            <li>
                              <% if application.offer.town?  %>
                              <p><%= application.offer.town %></p>
                              <% end %>
                            </li>
                            <li>
                                <% if (DateTime.now.to_date - application.offer.created_at.to_date).to_i == 1%>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jour</p>
                                <% else %>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jours</p>
                                <% end %>
                            </li>
                          </ul>
                        </div>
                        <div class = "position-absolute top-0 end-0">
                            <span class="badge rounded-pill bg-secondary"> En attente </span>
                          </div>
                      <% end %>
                      </div>
                      <% else %>
                      <div class="card" style="background: #EEF1F6;"> <%= link_to student_offer_path(application.offer) do %>
                        <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
                        <div class="card-logo">
                              <% if application.offer.company.photo.present? %>
                                <%= image_tag application.offer.company.photo%>
                              <% end %>
                        </div>
                        <div class="description-side">
                          <h3><%= application.offer.function %></h3>
                          <div>
                          <p><%= Company.find(application.offer.company_id).name %></h3></p>
                          </div>
                          <ul>
                            <li>
                              <% if application.offer.duration?  %>
                              <p>Stage <%= application.offer.duration %> mois (à partir de  <%= @month%> <%=  application.offer.start_date.year %>)</p>
                              <% end %>
                            </li>
                            <li>
                              <% if application.offer.town?  %>
                              <p><%= application.offer.town %></p>
                              <% end %>
                            </li>
                            <li>
                                <% if (DateTime.now.to_date - application.offer.created_at.to_date).to_i == 1%>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jour</p>
                                <% else %>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jours</p>
                                <% end %>
                            </li>
                          </ul>
                        </div>
                        <div class = "position-absolute top-0 end-0">
                            <span class="badge rounded-pill bg-secondary"> En attente </span>
                          </div>
                      <% end %>
                      </div>
                    <% end %>
                  <% elsif ['declined', 'nokept'].include?(application.status) %>
                    <% if @applications.to_a.index(application) % 2 == 0 %>
                      <div class="card"> <%= link_to student_offer_path(application.offer) do %>
                        <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
                        <div class="card-logo">
                          <% if application.offer.company.photo.present? %>
                            <%= image_tag application.offer.company.photo%>
                          <% end %>
                        </div>
                        <div class="description-side">
                          <h3><%= application.offer.function %></h3>
                          <div>
                          <p><%= Company.find(application.offer.company_id).name %></h3></p>
                          </div>
                          <ul>
                            <li>
                              <% if application.offer.duration?  %>
                              <p>Stage <%= application.offer.duration %> mois  (à partir de  <%= @month%> <%=  application.offer.start_date.year %>)</p>
                              <% end %>
                            </li>
                            <li>
                              <% if application.offer.town?  %>
                              <p><%= application.offer.town %></p>
                              <% end %>
                            </li>
                            <li>
                                <% if (DateTime.now.to_date - application.offer.created_at.to_date).to_i == 1%>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jour</p>
                                <% else %>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jours</p>
                                <% end %>
                            </li>
                          </ul>
                        </div>
                        <div class = "position-absolute top-0 end-0">
                            <span class="badge rounded-pill bg-danger">Refusé</span>
                        </div>
                      <% end %>
                      </div>
                      <% else %>
                      <div class="card" style="background: #EEF1F6;"> <%= link_to student_offer_path(application.offer) do %>
                        <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
                        <div class="card-logo">
                              <% if application.offer.company.photo.present? %>
                                <%= image_tag application.offer.company.photo%>
                              <% end %>
                        </div>
                        <div class="description-side">
                          <h3><%= application.offer.function %></h3>
                          <div>
                          <p><%= Company.find(application.offer.company_id).name %></h3></p>
                          </div>
                          <ul>
                            <li>
                              <% if application.offer.duration?  %>
                              <p>Stage <%= application.offer.duration %> mois  (à partir de  <%= @month%> <%=  application.offer.start_date.year %>)</p>
                              <% end %>
                            </li>
                            <li>
                              <% if application.offer.town?  %>
                              <p><%= application.offer.town %></p>
                              <% end %>
                            </li>
                            <li>
                                <% if (DateTime.now.to_date - application.offer.created_at.to_date).to_i == 1%>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jour</p>
                                <% else %>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jours</p>
                                <% end %>
                            </li>
                          </ul>
                        </div>
                        <div class = "position-absolute top-0 end-0">
                          <span class="badge rounded-pill bg-danger">Refusé</span>
                        </div>
                      <% end %>
                      </div>
                    <% end %>
                  <% else  application.status == "kept"%>
                              <% if @applications.to_a.index(application) % 2 == 0 %>
                      <div class="card"> <%= link_to student_offer_path(application.offer) do %>
                        <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
                        <div class="card-logo">
                          <% if application.offer.company.photo.present? %>
                            <%= image_tag application.offer.company.photo%>
                          <% end %>
                        </div>
                        <div class="description-side">
                          <h3><%= application.offer.function %></h3>
                          <div>
                          <p><%= Company.find(application.offer.company_id).name %></h3></p>
                          </div>
                          <ul>
                            <li>
                              <% if application.offer.duration?  %>
                              <p>Stage <%= application.offer.duration %> mois  (à partir de  <%= @month%> <%=  application.offer.start_date.year %>)</p>
                              <% end %>
                            </li>
                            <li>
                              <% if application.offer.town?  %>
                              <p><%= application.offer.town %></p>
                              <% end %>
                            </li>
                            <li>
                                <% if (DateTime.now.to_date - application.offer.created_at.to_date).to_i == 1%>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jour</p>
                                <% else %>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jours</p>
                                <% end %>
                            </li>
                          </ul>
                        </div>
                        <div class = "position-absolute top-0 end-0">
                            <span class="badge rounded-pill bg-success"> Accepté </span>
                        </div>
                      <% end %>
                      </div>
                      <% else %>
                      <div class="card" style="background: #EEF1F6;"> <%= link_to student_offer_path(application.offer) do %>
                        <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
                        <div class="card-logo">
                              <% if application.offer.company.photo.present? %>
                                <%= image_tag application.offer.company.photo%>
                              <% end %>
                        </div>
                        <div class="description-side">
                          <h3><%= application.offer.function %></h3>
                          <div>
                          <p><%= Company.find(application.offer.company_id).name %></h3></p>
                          </div>
                          <ul>
                            <li>
                              <% if application.offer.duration?  %>
                              <p>Stage <%= application.offer.duration %> mois  (à partir de  <%= @month%> <%=  application.offer.start_date.year %>)</p>
                              <% end %>
                            </li>
                            <li>
                              <% if application.offer.town?  %>
                              <p><%= application.offer.town %></p>
                              <% end %>
                            </li>
                            <li>
                                <% if (DateTime.now.to_date - application.offer.created_at.to_date).to_i == 1%>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jour</p>
                                <% else %>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - application.offer.created_at.to_date).to_i%> jours</p>
                                <% end %>
                            </li>
                          </ul>
                        </div>
                        <div class = "position-absolute top-0 end-0">
                          <span class="badge rounded-pill bg-success"> Accepté </span>
                        </div>
                      <% end %>
                      </div>
                    <% end %>
                  <%end%>
                <% end %>
        </div>
    </div>
  </div>
</div>

<div class="container p-2 mt-3 mb-3" >
  <div class="card">
    <h1 class="ms-5 mt-3"> Offres sauvegardées</h1>
      <div class="row ms-3">
          <div class="wrapper mt-5">
            <% @savedoffers.each do |savedoffer| %>
                <% if @savedoffers.to_a.index(savedoffer) % 2 == 0 %>
                      <div class="card"> <%= link_to student_offer_path(Offer.find(savedoffer)) do %>
                        <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
                        <div class="card-logo">
                          <% if Offer.find(savedoffer).company.photo.present? %>
                            <%= image_tag Offer.find(savedoffer).company.photo%>
                          <% end %>
                        </div>
                        <div class="description-side">
                          <h3><%= Offer.find(savedoffer).function %></h3>
                          <div>
                          <p><%= Company.find(Offer.find(savedoffer).company_id).name %></h3></p>
                          </div>
                          <ul>
                            <li>
                              <% if Offer.find(savedoffer).duration?  %>
                              <p>Stage <%= Offer.find(savedoffer).duration %> mois (à partir de  <%= @month%> <%=  Offer.find(savedoffer).start_date.year %>)</p>
                              <% end %>
                            </li>
                            <li>
                              <% if Offer.find(savedoffer).town?  %>
                              <p><%= Offer.find(savedoffer).town %></p>
                              <% end %>
                            </li>
                            <li>
                                <% if (DateTime.now.to_date - Offer.find(savedoffer).created_at.to_date).to_i == 1%>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - Offer.find(savedoffer).created_at.to_date).to_i%> jour</p>
                                <% else %>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - Offer.find(savedoffer).created_at.to_date).to_i%> jours</p>
                                <% end %>
                            </li>
                          </ul>
                        </div>
                      <% end %>
                      </div>
                <% else %>
                      <div class="card"  style="background: #EEF1F6;"> <%= link_to student_offer_path(Offer.find(savedoffer)) do %>
                        <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
                        <div class="card-logo">
                          <% if Offer.find(savedoffer).company.photo.present? %>
                            <%= image_tag Offer.find(savedoffer).company.photo%>
                          <% end %>
                        </div>
                        <div class="description-side">
                          <h3><%= Offer.find(savedoffer).function %></h3>
                          <div>
                          <p><%= Company.find(Offer.find(savedoffer).company_id).name %></h3></p>
                          </div>
                          <ul>
                            <li>
                              <% if Offer.find(savedoffer).duration?  %>
                              <p>Stage <%= Offer.find(savedoffer).duration %> mois (à partir de  <%= @month%> <%=  Offer.find(savedoffer).start_date.year %>)</p>
                              <% end %>
                            </li>
                            <li>
                              <% if Offer.find(savedoffer).town?  %>
                              <p><%= Offer.find(savedoffer).town %></p>
                              <% end %>
                            </li>
                            <li>
                                <% if (DateTime.now.to_date - Offer.find(savedoffer).created_at.to_date).to_i == 1%>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - Offer.find(savedoffer).created_at.to_date).to_i%> jour</p>
                                <% else %>
                                  <p>Publié il y'a <%= (DateTime.now.to_date - Offer.find(savedoffer).created_at.to_date).to_i%> jours</p>
                                <% end %>
                            </li>
                          </ul>
                        </div>
                      <% end %>
                      </div>
                <% end %>
            <%end%>
          </div>

          <div class="col-2" style="width: 40%;">
            <div style="margin: 40%; width: 100%;">
              <%= link_to("Voir liste des offres", offers_path, {class: "btn btn-success text-decoration-none"}) %>
            </div>
          </div>
      </div>
  </div>
</div>







<style>
.image-event-show {
  width: 100px;
  height: 100px;
}

.description-side {
  text-transform: capitalize;

}
</style>
