<div class="padding">
  <h3 style="padding: 10px;">Nouvelle candidature</h3>
  <h5><%= @offer.function.capitalize%> - <%= @offer.company.name.capitalize%></h5>


  <%= simple_form_for ([:student, @offer, @application]) do |f| %>
    <%= f.input :images,
                  label: "CV et autres pièces demandées",
                  as: :file,
                  required: true,
                  autofocus: true,
                  input_html: { multiple: true, autocomplete: "images"} %>
    <%= f.input :description, label: "Motivation (facultatif)", as: :text %>
    <%= f.submit "Candidater", class: "btn btn-primary"%>
  <% end %>
</div>


<style>

.padding{
  padding: 10px;
}

.mb-3{
  padding: 10px;
}

h5 {
  padding: 10px;
}


</style>
