

    <%= link_to "Retour", company_dashboard_path, class: "btn btn-info px-3 py-2  fs-10 mt-3" %>



<div class="latable">
  <% @offers.each do |offer|%>
  <table>
      <caption> <%=offer.function%></caption>
      <tr>
          <th scope="col">N°</th>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Photo</th>
          <th scope="col">Mail</th>
          <th scope="col">Tel</th>
          <th scope="col">Mobilité</th>
          <th scope="col">Etablissement</th>
          <th scope="col">Type de stage</th>
          <th scope="col">Secteur visé</th>
          <th scope="col">Dispo dès :</th>
          <th scope="col">Pièces jointes</th>
          <th scope="col">Statut</th>
      </tr>
        <% offer.applications.each do |application| %>
      <tr>
          <th scope="row"><%= offer.applications.to_a.find_index(application) + 1%></th>
          <td><%= Student.find(application.student_id).last_name.upcase %></td>
          <td><%= Student.find(application.student_id).first_name.capitalize%></td>
          <% if Student.find(application.student_id).photo.present? %>
            <td><%= image_tag(Student.find(application.student_id).photo, style: "width:82px") %></td>
          <%else%>
            <td></td>
          <% end %>
          <td><%= Student.find(application.student_id).email%></td>
          <td><%=Student.find(application.student_id).phone_number%></td>
          <td><%=Student.find(application.student_id).mobility%></td>
          <td><%= Student.find(application.student_id).school%></td>
          <td><%=Student.find(application.student_id).year%></td>
          <td><%=Student.find(application.student_id).wanted_area%></td>
          <td><%=Student.find(application.student_id).disponibility%></td>
          <td>
             <%if Student.find(application.student_id).dossiers.attached?%>
              <% Student.find(application.student_id).dossiers.each do |dossier| %>
                <% if dossier.representable? %>
                <%= link_to image_tag(dossier.representation(resize: '500x500')), dossier %>
                <%= link_to image_tag(dossier.representation(resize: '500x500')), rails_blob_path(dossier, disposition: :attachment) %>
                <% elsif dossier.image? %>
                <%= link_to image_tag(dossier, width: 500), dossier %>
                <%else %>
                <%= link_to dossier.filename, dossier %>
                <% end %>
              <% end %>
           <% end %>
          </td>
          <td>
            <% if ['pending', 'accepted'].include?(application.status) %>
              <i class="fa-sharp fa-regular fa-hourglass-half"></i>
            <% elsif application.status == "kept"%>
              <i class="fa-sharp fa-solid fa-check"></i>
            <% else %>
              <i class="fa-sharp fa-solid fa-circle-xmark"></i>
            <% end %>
          </td>
      </tr>


      <%end%>
  </table>

  <%end%>
</div>


<%#
fe %>

<%# %>


<style>
.fa-circle-xmark::before {
    content: "\f057";
    color: red;
}
.latable{
  padding: 20px;
  color: black;
  font-size: 12px;
}

 td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

.fa-check::before {
    content: "\f00c";
    color: green;
}

.fa-square-xmark::before {
    content: "\f2d3";
    color: red;
}

</style>
