<div class="latable">

    <table>
       <caption> <%=@application.offer.function%></caption>
          <tr>
              <th scope="col">N°</th>
              <th scope="col">Nom et prénom</th>
              <th scope="col"><i class="fa-solid fa-user-tie"></i></th>
              <th scope="col"><i class="fa-solid fa-envelope"></i></th>
              <th scope="col"><i class="fa-solid fa-phone"></i></th>
              <th scope="col">Mobilité</th>
              <th scope="col">Etablissement</th>
              <th scope="col">Durée du stage</th>
              <th scope="col">Secteur visé</th>
              <th scope="col">Dispo dès :</th>
              <th scope="col">Pièces jointes</th>
          </tr>


            <% case Student.find(@application.student_id).disponibility.month

            when 1
              @month = "Janvier"
            when 2
              @month = "Février"
            when 3
              @month = "Mars"
            when 4
              @month = "Avril"
            when 5
              @month = "Mai"
            when 6
              @month = "Juin"
            when 7
              @month = "Juillet"
            when 8
              @month = "Août"
            when 9
              @month = "Septembre"
            when 10
              @month = "Octobre"
            when 11
              @month = "Novembre"
            else
              @month = "Décembre"
            end %>

          <tr>
              <th scope="row" class="hagla"></th>
              <td class="hagla">
                <% if Student.find(@application.student_id).linkedin? %>
                  <%= link_to Student.find(@application.student_id).last_name.upcase + " " + Student.find(@application.student_id).first_name.capitalize, Student.find(@application.student_id).linkedin, :target => "_blank" %>
                <% else %>
                  <%= Student.find(@application.student_id).last_name.upcase + " " + Student.find(@application.student_id).first_name.capitalize %>
                <% end %>
              </td>
              <% if Student.find(@application.student_id).photo.present? %>
                <td><%= image_tag(Student.find(@application.student_id).photo, style: "width:82px") %></td>
              <%else%>
                <td></td>
              <% end %>
              <td><%= Student.find(@application.student_id).email%></td>
              <td><%=Student.find(@application.student_id).phone_number%></td>
              <td><%=Student.find(@application.student_id).mobility%></td>
              <td><%= Student.find(@application.student_id).school%></td>
              <td><%=Student.find(@application.student_id).year%> mois </td>
              <td><%=Student.find(@application.student_id).wanted_area%></td>
              <td><%= @month %> <%=Student.find(@application.student_id).disponibility.year %></td>
              <td>
                 <% if @application.images.attached? %>
                 <% @application.images.each do |attachment|%>
                 <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment"), target: :_blank %>
                <%end%>
                <%end%>
              </td>
          </tr>

  </table>

</div>

<div style="padding:20px">
  <h3>Motivation :</h3>

  <% if @application.description?%>
    <p style="padding:10px"><%= @application.description%></p>
  <% end %>
</div>





























   <div class = "container-comments">
      <h3><strong>Commentaires</strong></h3>
      <% @application.comments.each do |comment| %>
       <% if @application.comments.to_a.index(comment) % 2 == 0 %>
      <div class= "container-comment">

        <div class = "comment-top">

          <div><%= image_tag comment.company.photo, height: 80, crop: :fill, class:"avatar"%></div>

          <div class ="user-created">
            <%# <div><strong><%= comment.user.nickname%>
            <div class = "creation">
              <div class='namys'>
                <p style="font-size:13px"><%= Company.find(comment.application.offer.company_id).name%></p>
              </div>
              <div class="namys2">
                <p style="font-size:13px"><%= comment.created_at.strftime('%d %b %Y %H:%M:%S')%></p>
              </div>
            </div>
          </div>

        </div>

         <div class ="comment-content"><%= comment.content %></div>

      </div>

      <% else %>

      <div class= "container-comment" style="background: #EEF1F6;">

        <div class = "comment-top">

          <div><%= image_tag comment.company.photo, height: 80, crop: :fill, class:"avatar"%></div>

          <div class ="user-created">
            <%# <div><strong><%= comment.user.nickname%>
            <div class = "creation">
              <div>
                <p style="font-size:13px"><%= Company.find(comment.application.offer.company_id).name%></p>
              </div>
              <div>
                <p style="font-size:13px"><%= comment.created_at.strftime('%d %b %Y %H:%M:%S')%></p>
              </div>
            </div>
          </div>

        </div>

         <div class ="comment-content"><%= comment.content %></div>

      </div>

      <% end %>

      <% end %>
    </div>

  <div class = "espcom" id="second">
    <strong><h3>Rédiger un commentaire</h3></strong>

    <%= simple_form_for [:company, @application, @comment] do |f| %>
      <%= f.input :content, as: :text, label: 'Commentaire', error: 'Comment cannot be blank'%>
      <%= f.submit "Soumettre le commentaire", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="commentsgeneral">
    <div>
      <h3>Historique des commentaires sur le candidat :</h3>
    </div>
    <div class="commentsprecis">
       <% @grouped_comments.each do |application, comments| %>
        <div class="rentreer">
            <strong><%= application.offer.function %></strong>
          <div>
              <% comments.each do |comment|%>

       <% if comments.to_a.index(comment) % 2 == 0 %>
      <div class= "container-comment">

        <div class = "comment-top">

          <div><%= image_tag comment.company.photo, height: 80, crop: :fill, class:"avatar"%></div>

          <div class ="user-created">
            <%# <div><strong><%= comment.user.nickname%>
            <div class = "creation">
              <div class='namys'>
                <p style="font-size:13px"><%= Company.find(comment.application.offer.company_id).name%></p>
              </div>
              <div class="namys2">
                <p style="font-size:13px"><%= comment.created_at.strftime('%d %b %Y %H:%M:%S')%></p>
              </div>
            </div>
          </div>

        </div>

         <div class ="comment-content"><%= comment.content %></div>

      </div>

      <% else %>

      <div class= "container-comment" style="background: #EEF1F6;">

        <div class = "comment-top">

          <div><%= image_tag comment.company.photo, height: 80, crop: :fill, class:"avatar"%></div>

          <div class ="user-created">
            <%# <div><strong><%= comment.user.nickname%>
            <div class = "creation">
              <div>
                <p style="font-size:13px"><%= Company.find(comment.application.offer.company_id).name%></p>
              </div>
              <div>
                <p style="font-size:13px"><%= comment.created_at.strftime('%d %b %Y %H:%M:%S')%></p>
              </div>
            </div>
          </div>

        </div>

         <div class ="comment-content"><%= comment.content %></div>

      </div>
        <%end%>
      </div>
        <%end%>
      </div>
    </div>
       <%end%>
    </div>
  </div>


<style>


.rentreer{
  padding: 10px;
  margin: 10px;
  font-size: 17px;
}
.commentsgeneral {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-top {
  display: flex;
    padding: 10px;
    margin: 20px 0px;

}

.comment-content{
  font-size: 15px;
}

.user-created {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 20px;
    }

      .creation {
        font-size: 10px;
      }


.commentsprecis{

}

.fa-face-smile::before {
    content: "\f118";
    color: green;
}
.fa-face-sad-tear::before {
    content: "\f5b4";
    color: red;
}
.latable{
  padding: 20px;
  color: black;
  font-size: 12px;
  margin-top: 30px;
}

 td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

.fa-check::before {
    content: "\f00c";
    color: green;
}

.fa-square-xmark::before {
    content: "\f2d3";
    color: red;
}

.logos {
    filter: unset;
}

.hagla a{
text-decoration: none;
}


.container-post-top {
  padding: 10px;
  margin: 10px;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
}
.top-show {
  display: flex;
  flex-direction: column;
}

.title-show {
  margin-top: 20px;
}

.top-show {
  margin-top: 20px;
}

.post-content  {
  margin: 20px 0px;
}

.avatar {
  object-fit: cover;
  width: 80px;
}


.container-comments {

  margin-bottom: 20px;
  padding: 10px;

  .container-comment {
    border: 0.0625rem solid #e0e0e0b5;
    border-radius: 0.25rem;
    margin-bottom: 0.9375rem;
  }

  .comment-top {
    display: flex;
    padding: 10px;
    margin: 20px 0px;
    .user-created {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 20px;
      .creation {
        font-size: 10px;
      }
    }
  }

  .comment-content {
    padding: 15px;
  }

}



.espcom {
  margin-top: 20px;
  padding: 10px;
  h2 {
    font-size: 30px;
  }
}

.url {
  button {
    color: $white;
    background: $purple;
    border: $purple;
    padding: 5px;
  }
}

</style>
