<div class="latable">

    <table>

          <tr>
              <th scope="col">N°</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col"><i class="fa-solid fa-user-tie"></i></th>
              <th scope="col"><i class="fa-solid fa-envelope"></i></th>
              <th scope="col"><i class="fa-solid fa-phone"></i></th>
              <th scope="col">Mobilité</th>
              <th scope="col">Etablissement</th>
              <th scope="col">Type de stage</th>
              <th scope="col">Secteur visé</th>
              <th scope="col">Dispo dès :</th>
              <th scope="col">Pièces jointes</th>
          </tr>


            <% case Student.find(@application.student_id).disponibility.month

            when 1
              @month = "Janvier"
            when 2
              @month = "Février"
            when 3
              @month = "Mars"
            when 4
              @month = "Avril"
            when 5
              @month = "Mai"
            when 6
              @month = "Juin"
            when 7
              @month = "Juillet"
            when 8
              @month = "Août"
            when 9
              @month = "Septembre"
            when 10
              @month = "Octobre"
            when 11
              @month = "Novembre"
            else
              @month = "Décembre"
            end %>

          <tr>
              <th scope="row" class="hagla"></th>
              <td><%= Student.find(@application.student_id).last_name.upcase %></td>
              <td><%= Student.find(@application.student_id).first_name.capitalize%></td>
              <% if Student.find(@application.student_id).photo.present? %>
                <td><%= image_tag(Student.find(@application.student_id).photo, style: "width:82px") %></td>
              <%else%>
                <td></td>
              <% end %>
              <td><%= Student.find(@application.student_id).email%></td>
              <td><%=Student.find(@application.student_id).phone_number%></td>
              <td><%=Student.find(@application.student_id).mobility%></td>
              <td><%= Student.find(@application.student_id).school%></td>
              <td><%=Student.find(@application.student_id).year%></td>
              <td><%=Student.find(@application.student_id).wanted_area%></td>
              <td><%= @month %> <%=Student.find(@application.student_id).disponibility.year %></td>
              <td>
                 <% if @application.images.attached? %>
                 <% @application.images.each do |attachment|%>
                 <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
                <%end%>
                <%end%>
              </td>
          </tr>

  </table>

</div>

<div style="padding:20px">
  <h3>Paragraphe de Motivation :</h3>

  <% if @application.description?%>
    <p style="padding:10px"><%= @application.description%></p>
  <% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<style>

.fa-face-smile::before {
    content: "\f118";
    color: green;
}
.fa-face-sad-tear::before {
    content: "\f5b4";
    color: red;
}
.latable{
  padding: 20px;
  color: black;
  font-size: 12px;
  margin-top: 30px;
}

 td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

.fa-check::before {
    content: "\f00c";
    color: green;
}

.fa-square-xmark::before {
    content: "\f2d3";
    color: red;
}

.logos {
    filter: unset;
}

.hagla a{
text-decoration: none;
}

</style>
