<div style="padding:30px">
<h3>Profil</h3>





  <div class="containdeux">
    <div class="imageun">
      <%# <%= image_tag( 'avatar.png', {:style => "width:57px;height:57px;", class:"logos"}) %>
      <%= image_tag @company.photo,{:style => "width:80px;height:80px;", class:"logos"} %>
    </div>
    <div class="descriptionun">
      <div style="display: flex;justify-content: space-between;">
        <h5>Bienvenue chez <%= @company.name%></h5><br>
        <%= link_to ('<i class="fa-solid fa-pen"></i>').html_safe, edit_student_registration_path(current_student)%>
      </div>
      <div class="ef"><%= @company.sector%></div> <br>
    </div>
  </div>

      <div class="eg"> <h6 style="margin: 10px;display: flex;margin-top: 80px;justify-content: center;">
      <%if @company.description?%>
      <%= @company.description.capitalize %>
      <%end%>
      </h6>
      </div>

  <br><br>
  <div class="yete">
    <%= link_to "Modifier Le profil", edit_company_registration_path, class: "btn btn-primary"%>
    <% unless @company.description? %>
      <%= link_to "Ajouter une description !", edit_company_registration_path, class: "btn btn-info"%>
    <% end %>
  </div>

  </div>
<style>
.off {
  display: none;
}

.containdeux{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px;

}

.logos{
  filter: unset;
}

.eg{
  white-space: break-spaces;
}
</style>
