<div class="container p-2 mt-3 mb-3" >
  <div class="card">
    <h1 class="ms-5 mt-3">Mes offres de stage</h1>
      <div class="row ms-3">
          <div class="col-8">
            <% @offers.each do |offer| %>
            <% if offer.image.attached? %>
              <%= image_tag offer.image.variant(resize: "100x100")  %>
            <% end %>
              <%=offer.function %>
            <% end %>
          </div>

          <div class="col-2">
            <div style="margin: 40%; width: 100%;">
              <%= link_to("Publier une offre", new_company_offer_path, {class: "btn btn-success text-decoration-none"}) %>
            </div>
          </div>
      </div>
  </div>
</div>



<div class="container-profile">




  <div class= "container mb-3" >
    <div class="container m-3 mb-5">
      <h2> Traitement des Candidatures </h2>
        <div class="wrapper mt-5">
        <% @applications.each do |application| %>
          <% if application.status == "pending" %>
            <%= link_to offer_path(Offer.find(application.offer_id)) , class: "card m-2" do %>
                <div class="card" style ="object-fit-content">
                  <div class="card-body m-1">
                    M. <%= Student.find(application.student_id).last_name %> souhaite postuler :
                  </div>
                  <%= image_tag("home-banner.jpg", height: 250, crop: :fill)  %>
                  <div class="card-body m-1">
                    <h3 class="card-title"><%= Offer.find(application.offer_id).function %></h3>
                    <small class="card-text text-start"> <%= link_to "accepter", accept_company_application_path(application), class: "btn btn-primary "%></small>
                    <small class="card-text text-start"> <%= link_to "refuser", decline_company_application_path(application), class: "btn btn-danger "%></small>
                  </div>
                </div>
            <% end %>
          <% elsif application.status == "accepted"%>
            <%= link_to offer_path(Offer.find(application.offer_id)) , class: "card m-2 position-relative" do %>
                <div class="card" style ="object-fit-content">
                  <div class="card-body m-1">
                    <%= Offer.find(application.offer_id).function %> est convoité par M. <%= Student.find(application.student_id).last_name %>
                  </div>
                  <%= image_tag("home-banner.jpg", height: 250, crop: :fill)  %>
                  <div class="card-body m-1">
                  </div>
                </div>
              <%end %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
</div>
