<div class="top-dshc">
  <div>
    <h5 style="margin:5%">Dashboard <%=@company.name.capitalize%></h5>
  </div>
  <div class="publii">
    <%= link_to("Créer une annonce", new_company_offer_path, {class: "btn btn-primary text-decoration-none"}) %>
  </div>
</div>

<div class="container p-2 mt-3 mb-3" >
  <div class="card">
    <h4 class="ms-5 mt-3">Annonces (<%= @offers.count%>)</h4>
       <div class="flat-cards">
        <% @offers.each do |offer| %>
          <% if offer.status == "accepted" %>
            <% if @offers.to_a.index(offer) % 2 == 0 %>
            <div class="card"> <%= link_to company_offer_path(offer) do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
              <div class="card-logo">
                <% if offer.company.photo.present? %>
                  <%= image_tag offer.company.photo%>
                <% end %>
              </div>
              <div class="description-side">
                <h3><%= offer.function %></h3>
                <div>
                <p><%= Company.find(offer.company_id).name %></h3></p>
                </div>
                <ul>
                  <li>
                    <% if offer.duration?  %>
                     <p>Stage <%= offer.duration %> mois</p>
                    <% end %>
                  </li>
                  <li>
                    <% if offer.town?  %>
                     <p><%= offer.town %></p>
                    <% end %>
                  </li>
                  <li>
                      <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                      <% else %>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                      <% end %>
                  </li>
                </ul>
              </div>
               <div class = "position-absolute top-0 end-0">
                            <span class="badge rounded-pill bg-success"> En ligne </span>
                </div>
            <% end %>
            </div>
             <% else %>
            <div class="card" style="background: #EEF1F6;"> <%= link_to company_offer_path(offer) do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
              <div class="card-logo">
                     <% if offer.company.photo.present? %>
                      <%= image_tag offer.company.photo%>
                    <% end %>
              </div>
              <div class="description-side">
                <h3><%= offer.function %></h3>
                <div>
                <p><%= Company.find(offer.company_id).name %></h3></p>
                </div>
                <ul>
                  <li>
                    <% if offer.duration?  %>
                     <p>Stage <%= offer.duration %> mois</p>
                    <% end %>
                  </li>
                  <li>
                    <% if offer.town?  %>
                     <p><%= offer.town %></p>
                    <% end %>
                  </li>
                  <li>
                      <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                      <% else %>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                      <% end %>
                  </li>
                </ul>
              </div>
               <div class = "position-absolute top-0 end-0">
                            <span class="badge rounded-pill bg-success"> En ligne </span>
               </div>
            <% end %>
            </div>
            <% end %>
          <% elsif offer.status == "declined" %>
            <% if @offers.to_a.index(offer) % 2 == 0 %>
               <div class="card"> <%= link_to company_offer_path(offer) do %>
                  <div class="card-logo">
                <% if offer.company.photo.present? %>
                  <%= image_tag offer.company.photo%>
                <% end %>
                  </div>
                  <div class="description-side">
                    <h3><%= offer.function %></h3>
                    <div>
                    <p><%= Company.find(offer.company_id).name %></h3></p>
                    </div>
                    <ul>
                      <li>
                        <% if offer.duration?  %>
                        <p>Stage <%= offer.duration %> mois</p>
                        <% end %>
                      </li>
                      <li>
                        <% if offer.town?  %>
                        <p><%= offer.town %></p>
                        <% end %>
                      </li>
                      <li>
                          <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                            <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                          <% else %>
                            <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                          <% end %>
                      </li>
                    </ul>
                  </div>
                  <div class = "position-absolute top-0 end-0">
                                <span class="badge rounded-pill bg-danger"> Refusée </span>
                    </div>
               <% end %>
               </div>
            <% else %>
              <div class="card" style="background: #EEF1F6;"> <%= link_to company_offer_path(offer) do %>
                <div class="card-logo">
                  <% if offer.company.photo.present? %>
                    <%= image_tag offer.company.photo%>
                  <% end %>
                </div>
                <div class="description-side">
                  <h3><%= offer.function %></h3>
                <div>
                  <p><%= Company.find(offer.company_id).name %></h3></p>
                </div>
                <ul>
                  <li>
                    <% if offer.duration?  %>
                     <p>Stage <%= offer.duration %> mois</p>
                    <% end %>
                  </li>
                  <li>
                    <% if offer.town?  %>
                     <p><%= offer.town %></p>
                    <% end %>
                  </li>
                  <li>
                      <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                      <% else %>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                      <% end %>
                  </li>
                </ul>
               <div class = "position-absolute top-0 end-0">
                  <span class="badge rounded-pill bg-danger"> Refusée </span>
               </div>
              </div>
              <% end %>
              </div>
            <% end %>
          <% else %>
              <% if @offers.to_a.index(offer) % 2 == 0 %>
               <div class="card"> <%= link_to company_offer_path(offer) do %>
                <div class="card-logo">
                  <% if offer.company.photo.present? %>
                    <%= image_tag offer.company.photo%>
                  <% end %>
                </div>
              <div class="description-side">
                <h3><%= offer.function %></h3>
                <div>
                  <p><%= Company.find(offer.company_id).name %></h3></p>
                </div>
                <ul>
                  <li>
                    <% if offer.duration?  %>
                     <p>Stage <%= offer.duration %> mois</p>
                    <% end %>
                  </li>
                  <li>
                    <% if offer.town?  %>
                     <p><%= offer.town %></p>
                    <% end %>
                  </li>
                  <li>
                      <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                      <% else %>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                      <% end %>
                  </li>
                </ul>
              </div>
               <div class = "position-absolute top-0 end-0">
                  <span class="badge rounded-pill bg-secondary"> En attente </span>
               </div>
              <% end %>
              </div>
             <% else %>
              <div class="card" style="background: #EEF1F6;"> <%= link_to company_offer_path(offer) do %>
                <div class="card-logo">
                  <% if offer.company.photo.present? %>
                    <%= image_tag offer.company.photo%>
                  <% end %>
                </div>
                <div class="description-side">
                  <h3><%= offer.function %></h3>
                  <div>
                    <p><%= Company.find(offer.company_id).name %></h3></p>
                  </div>
                  <ul>
                  <li>
                    <% if offer.duration?  %>
                     <p>Stage <%= offer.duration %> mois</p>
                    <% end %>
                  </li>
                  <li>
                    <% if offer.town?  %>
                     <p><%= offer.town %></p>
                    <% end %>
                  </li>
                  <li>
                      <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                      <% else %>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                      <% end %>
                  </li>
                  </ul>
                </div>
                <div class = "position-absolute top-0 end-0">
                  <span class="badge rounded-pill bg-secondary"> En attente </span>
                </div>
              <% end %>
              </div>
              <% end %>
            <% end %>
          <%end%>
        </div>
      </div>
    </div>

      <div class= "dashbutton">
        <%= link_to("Dashboard candidatures", company_applications_path, {class: "btn btn-primary text-decoration-none"}) %>
      </div>

  </div>
</div>


<% if @company.admin? %>
   <% @all_offers.to_a.each do |offer| %>
                <div class="card" style="background: #EEF1F6;">
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
              <div class="card-logo">
                     <% if offer.company.photo.present? %>
                      <%= image_tag offer.company.photo%>
                    <% end %>
              </div>
              <div class="description-side">
                <h3><%= offer.function %></h3>
                <div>
                <p><%= Company.find(offer.company_id).name %></h3></p>
                </div>
                <ul>
                  <li>
                    <% if offer.duration?  %>
                     <p>Stage <%= offer.duration %> mois</p>
                    <% end %>
                  </li>
                  <li>
                    <% if offer.town?  %>
                     <p><%= offer.town %></p>
                    <% end %>
                  </li>
                  <li>
                      <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                      <% else %>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                      <% end %>
                  </li>
                </ul>
              </div>
              <div>
                <p style="white-space: break-spaces;"><%= offer.description%></p>
              </div>
              <div>
                  <%= link_to (' <i class="fa-solid fa-check"></i>').html_safe, accept_company_offer_path(offer)%>
                  <br> <%= link_to ('<i class="fa-solid fa-square-xmark"></i>').html_safe,decline_company_offer_path(offer)%>
              </div>

            </div>
   <%end%>
 <% end %>

<style>
.description-side{
    padding: 10px;
    text-transform: capitalize;
}

.dashbutton a{
    width: 47%;
}

.dashbutton{
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
</style>


<%# <div class="container-profile">




  <div class= "container mb-3" >
    <div class="container m-3 mb-5">
      <h2> Traitement des Candidatures </h2>
        <div class="wrapper mt-5">
        <% @offers.each do |offer|%>
          <%# <h3 class="card-title"><%= offer.function %>
          <%# <% offer.applications.each do |application| %>
            <%# <% if application.status == "pending" %>
              <%# <%= link_to company_application_path(application) , class: "card m-2" do %>
                  <%# <div class="card" style ="object-fit-content">
                    <div class="card-body m-1">
                      M. <%= Student.find(application.student_id).last_name %>
                       <%# souhaite postuler : %>
                    <%# </div>
                    <% if  Student.find(application.student_id).photo.image?%>
                      <%# <%= image_tag(Student.find(application.student_id).photo, style: "width:82px") %>
                    <%# <% end %>
                    <%# <div class="card-body m-1"><i class="fa-solid fa-eye"></i>
                      <small class="card-text text-start"> <%= link_to "accepter", accept_company_application_path(application), class: "btn btn-primary "%>
                      <%# <small class="card-text text-start"> <%= link_to "refuser", decline_company_application_path(application), class: "btn btn-danger "%>
                    <%# </div>
                  </div>
              <% end %>
            <%# <% elsif application.status == "accepted"%>
              <%# <%= link_to company_offer_path(Offer.find(application.offer_id)) , class: "card m-2 position-relative" do %>
                  <%# <div class="card" style ="object-fit-content">
                    <div class="card-body m-1">
                      <%# <%= Offer.find(application.offer_id).function %>
                      <%# est convoité par M. <%= Student.find(application.student_id).last_name %>
                    <%# </div>
                    <%= image_tag("home-banner.jpg", height: 250, crop: :fill)  %>
                    <%# <div class="card-body m-1">
                    </div>
                  </div>  %>
                <%# <%end %>
            <%# <% end %>
          <%# <% end %>
        <%# <%end%>
        <%# </div>
    </div>
  </div>
</div> %>
