<div class="top-dshc">
  <div>
    <h5 style="margin:5%">Dashboard <%=@company.name%></h5>
  </div>
  <div class="publii">
    <%= link_to("Créer une annonce", new_company_offer_path, {class: "btn btn-success text-decoration-none"}) %>
  </div>
</div>

<div class="container p-2 mt-3 mb-3" >
  <div class="card">
    <h4 class="ms-5 mt-3">Annonces déposées(<%= @offers.count%>)</h4>
       <div class="flat-cards">
        <% @offers.each do |offer| %>
           <% if @offers.to_a.index(offer) % 2 == 0 %>
            <div class="card"> <%= link_to company_offer_path(offer) do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
              <div class="card-logo">
                  <% if offer.company.photo.present? %>
                    <%= image_tag offer.company.photo%>
                  <% end %>
              </div>
              <div class="description-side">
                <h3><%= offer.function %></h3>
                <div>
                <p><%= Company.find(offer.company_id).name %></h3></p>
                </div>
                <ul>
                  <li>
                    <% if offer.duration?  %>
                     <p>Stage <%= offer.duration %> mois</p>
                    <% end %>
                  </li>
                  <li>
                    <% if offer.town?  %>
                     <p><%= offer.town %></p>
                    <% end %>
                  </li>
                  <li>
                      <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                      <% else %>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                      <% end %>
                  </li>
                </ul>
              </div>
            <% end %>
            </div>
             <% else %>
            <div class="card" style="background: #EEF1F6;"> <%= link_to company_offer_path(offer) do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
              <div class="card-logo">
                     <% if offer.company.photo.present? %>
                      <%= image_tag offer.company.photo%>
                    <% end %>
              </div>
              <div class="description-side">
                <h3><%= offer.function %></h3>
                <div>
                <p><%= Company.find(offer.company_id).name %></h3></p>
                </div>
                <ul>
                  <li>
                    <% if offer.duration?  %>
                     <p>Stage <%= offer.duration %> mois</p>
                    <% end %>
                  </li>
                  <li>
                    <% if offer.town?  %>
                     <p><%= offer.town %></p>
                    <% end %>
                  </li>
                  <li>
                      <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                      <% else %>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                      <% end %>
                  </li>
                </ul>
              </div>
            <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>



<div class="container-profile">




  <div class= "container mb-3" >
    <div class="container m-3 mb-5">
      <h2> Traitement des Candidatures </h2>
        <div class="wrapper mt-5">
        <% @applications.each do |application| %>
          <% if application.status == "pending" %>
            <%= link_to company_offer_path(Offer.find(application.offer_id)) , class: "card m-2" do %>
                <div class="card" style ="object-fit-content">
                  <div class="card-body m-1">
                    M. <%= Student.find(application.student_id).last_name %> souhaite postuler :
                  </div>
                  <%= image_tag("home-banner.jpg", height: 250, crop: :fill)  %>
                  <div class="card-body m-1">
                    <h3 class="card-title"><%= Offer.find(application.offer_id).function %></h3>
                    <small class="card-text text-start"> <%= link_to "accepter", accept_company_application_path(application), class: "btn btn-primary "%></small>
                    <small class="card-text text-start"> <%= link_to "refuser", decline_company_application_path(application), class: "btn btn-danger "%></small>
                  </div>
                </div>
            <% end %>
          <% elsif application.status == "accepted"%>
            <%= link_to company_offer_path(Offer.find(application.offer_id)) , class: "card m-2 position-relative" do %>
                <div class="card" style ="object-fit-content">
                  <div class="card-body m-1">
                    <%= Offer.find(application.offer_id).function %> est convoité par M. <%= Student.find(application.student_id).last_name %>
                  </div>
                  <%= image_tag("home-banner.jpg", height: 250, crop: :fill)  %>
                  <div class="card-body m-1">
                  </div>
                </div>
              <%end %>
          <% end %>
        <% end %>
        </div>
    </div>
  </div>
</div>
