<div class="main-container">
  <div class= "container-flat-show">
    <div class="card-flat">
      <div class="card-flat-infos">
        <div class="card-title">
          <h2><%= @offer.function %> - <%= @offer.company.name %> </h2>
        </div>
        <div class="card-shower-offer">
          <div class="description2">
            <div class="picture">
              <%= image_tag( @offer.company.photo, {:style => "width:57px;height:57px;", class:"logos"}) %>
            </div>
            <div class="list3">
              <ul>
                      <li class="li1">
                        <i class="fa-solid fa-location-dot"></i> <p> <%= @offer.town%> </p>
                      </li>
                      <li class="li1">
                        <i class="fa-solid fa-euro-sign"></i><p> <%= @offer.salary %>€ </p>
                      </li>
                      <li class="li1">
                        <i class="fa-sharp fa-solid fa-calendar-days" style="margin-right:2px;"></i><p> <%= @month %> <%=@offer.start_date.year%></p>
                      </li>
                      <li class="li1">
                        <i class="fa-solid fa-globe" style="margin-right:2px;"></i><p>
                        <% if @offer.company.website? %>
                          <%= link_to "Site web", @offer.company.website, :target => "_blank" %>
                        <%end%>
                        </p>
                      </li>
              </ul>
            </div>
          </div>
          <div class= "picture-cardshow">
          </div>
        </div>
        <div class="card-description-offre">
          <p style="padding:10px;white-space:break-spaces"> <%= @offer.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>




    <div class="deuxbuttons">
      <% if @offer.applications.find_by_student_id(current_student.id).present? %>
        <button disabled> Postuler </button>
      <% else %>
        <%= link_to "Postuler", new_student_offer_application_path(@offer), class: "btn btn-primary px-3 py-2  fs-10 mt-3" %>
      <%end%>
      <%= link_to "Liste des offres", offers_path, class: "btn btn-primary px-3 py-2  fs-10 mt-3"%>
    </div>

    <% if @savedoffer2 == nil %>
      <%= simple_form_for ([:student, @offer, @savedoffer1]) do |f| %>
        <div style="display:none">
          <%= f.label :saved %>
          <%= f.check_box :saved%>
        </div>
        <%= f.button :submit, value: "Sauvegarder", class: "btn btn-success"%>
      <% end %>
      <% elsif @savedoffer2 != nil && @savedoffer2.saved == true %>
        <%= simple_form_for ([:student, @offer, @savedoffer2]) do |f| %>
        <div style="display:none">
          <%= f.label :saved %>
          <%= f.check_box :saved%>
        </div>
          <%= f.button :submit, value: "Retirer", class: "btn btn-success"%>
        <% end %>
      <% else @savedoffer2 != nil && @savedoffer2.saved == false %>
        <%= simple_form_for ([:student, @offer, @savedoffer2]) do |f| %>
          <div style="display:none">
            <%= f.label :saved %>
            <%= f.check_box :saved%>
          </div>
          <%= f.button :submit, value: "Sauvegarder", class: "btn btn-success"%>
        <% end %>
    <% end %>


    <%# <% if @savedoffer2 != nil %>
    <%# <%= @savedoffer2.saved? %>
    <%# <% end %>


<style>

.simple_form{
    padding: 10px;
}

.card-title{

   text-transform: capitalize;

}

.logos {
    filter: unset;
}

</style>
