<h1 class="title-index"><strong>Our unique selection of flats</strong></h1>
 <% if company_signed_in? %>
    <%= link_to "Publish an offer", new_company_offer_path, class: "btn btn-info" %>
 <% end %>


      <div class="flat-cards">
        <% @offers.each do |offer| %>
            <% if student_signed_in? %>
            <div class="card"> <%= link_to student_offer_path(offer) do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
              <div class="card-index-body">
                <h3 class="card-index-title"><%= offer.function %></h3>
              </div>
            <% end %>
            </div>
            <% elsif company_signed_in? %>
            <div class="card"> <%= link_to company_offer_path(offer) do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
              <div class="card-index-body">
                <h3 class="card-index-title"><%= offer.function %></h3>
              </div>
            <% end %>
            </div>
            <% else %>
            <div class="card"> <%= link_to offer do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
              <div class="card-index-body">
                <h3 class="card-index-title"><%= offer.function %></h3>
              </div>
            <% end %>
            </div>
            <%end%>
         <% end %>
      </div>
    </div>
</div>
