<div class="cover-index">
  <div class="search">
    <i class="fa fa-search" aria-hidden="true"></i>
    <%= form_with url: offers_path, method: :get, class: "d-flex me-1 pt-2 relative mx-auto text-gray-600" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none",
        placeholder: ""
      %>
      <%= submit_tag "Go", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


 <div class="col pt-1" data-controller="search">
        <div class="d-flex" style="padding:10px">
          <button class="btn btn-primary btn-lg" data-action="click->search#panel" data-search-target="button" style="margin-top: 10px;font-size: 15px;"> Recherche avancée</button>
        </div>

        <div href="#" class="yeahhh d-none" data-search-target="link" style="padding: 10px">
          <%= form_for @search, html: {class: "pure-form"} do |f| %>
            <div class="field">
              <%=f.label :Mots_Clefs %> <br>
              <%= f.text_field :keywords %>
            </div>
            <div class="field">
              <%=f.label :Secteur %> <br>
              <%=f.select :sector, options_for_select(@sectors), :include_blank => true %>
            </div>
            <div class="field">
              <%=f.label :Ville %> <br>
              <%=f.select :town, options_for_select(@towns), :include_blank => true %>
            </div>
            <div class="field">
              <%= f.label :Date_de_début %> <br>
              <%= f.date_field :start_date %>
            </div>
            <div class="field">
            <p><%= f.label :min_duration, "Durée minimale (en mois)" %> - <%= f.number_field :min_duration, size: 10, placeholder: "3" %> </p>
            <p><%= f.label :max_duration, "Durée maximale (en mois)" %> - <%= f.number_field :max_duration, size: 10, placeholder: "6" %> </p>
            </div>
            <div class="field">
            <p><%= f.label :min_salary, "Rémunération minimale mensuelle" %> - <%= f.number_field :min_salary, size: 10, step: :any, placeholder: "600" %> </p>
            </div>

            <%# Admin?    : <%= f.check_box :admin %>
            <div class="actions"><%= f.submit "Rechercher", class: "btn btn-primary"%></div>
          <% end %>
        <button class="btn btn-success" data-action="click->search#reset" style="margin-top: 10px"> Retour </button>
        </div>
        <div class="opaqr opacity-50 d-none" data-search-target="panel"></div>
  </div>


<%# <%= Offer.count%>




<div style="padding: 10px;">

 <% if company_signed_in? %>
    <%= link_to "Publier une annonce", new_company_offer_path, class: "btn btn-success" %>
 <% end %>


</div>

<br>





<br>
       
      <div class="flat-cards">
        <% @offers.each do |offer| %>
          <%case offer.start_date.month

      when 1
        @month = "Janvier"
      when 2
        @month = "Février"
      when 3
        @month = "Mars"
      when 4
        @month = "Avril"
      when 5
        @month = "Mai"
      when 6
        @month = "Juin"
      when 7
        @month = "Juillet"
      when 8
        @month = "Août"
      when 9
        @month = "Septembre"
      when 10
        @month = "Octobre"
      when 11
        @month = "Novembre"
      else
        @month = "Décembre"
      end %>
           <% if @offers.to_a.index(offer) % 2 == 0 %>
            <% if student_signed_in? %>
            <div class="card"> <%= link_to student_offer_path(offer) do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
              <div class="card-logo">
                  <% if offer.company.photo.present? %>
                    <%= image_tag offer.company.photo%>
                  <% end %>
              </div>
              <div class="description-side">
                <h3><%= offer.function%></h3>
                <div class="companame">
                  <p><%= Company.find(offer.company_id).name %></h3></p>
                </div>
                <ul>
                  <li>
                    <% if offer.duration?  %>
                     <p>Stage <%= offer.duration %> mois (à partir de  <%= @month%> <%=  offer.start_date.year %>)</p>
                    <% end %>
                  </li>
                  <li>
                    <% if offer.town?  %>
                     <p><%= offer.town %></p>
                    <% end %>
                  </li>
                  <li>
                      <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                      <% else %>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                      <% end %>
                  </li>
                </ul>
              </div>
            <% end %>
            </div>
            <% elsif company_signed_in? %>
              <div class="card"> <%= link_to company_offer_path(offer) do %>
                <div class="card-logo">
                  <% if offer.company.photo.present? %>
                    <%= image_tag offer.company.photo%>
                  <% end %>
                </div>
                <div class="description-side">
                  <h3><%= offer.function %></h3>
                  <div>
                  <p><%= Company.find(offer.company_id).name %></h3></p>
                  </div>
                  <ul>
                    <li>
                      <% if offer.duration?  %>
                      <p>Stage <%= offer.duration %> mois (à partir de  <%= @month%> <%=  offer.start_date.year %>)</p>
                      <% end %>
                    </li>
                    <li>
                      <% if offer.town?  %>
                      <p><%= offer.town %></p>
                      <% end %>
                    </li>
                    <li>
                        <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                          <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                        <% else %>
                          <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                        <% end %>
                    </li>
                  </ul>
                </div>
              <% end %>
              </div>
            <% else %>
              <div class="card"> <%= link_to offer do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
                <div class="card-logo">
                    <% if offer.company.photo.present? %>
                      <%= image_tag offer.company.photo%>
                    <% end %>
                </div>
                <div class="description-side">
                    <h3><%= offer.function %></h3>
                    <div>
                    <p><%= Company.find(offer.company_id).name %></h3></p>
                    </div>
                    <ul>
                      <li>
                        <% if offer.duration?  %>
                        <p>Stage <%= offer.duration %> mois (à partir de  <%= @month%> <%=  offer.start_date.year %>)</p>
                        <i class="fa-thin fa-pipe"></i>
                        <% end %>
                      </li>
                      <li>
                        <% if offer.town?  %>
                        <p><%= offer.town %></p>
                        <% end %>
                      </li>
                      <li>
                          <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                            <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                          <% else %>
                            <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                          <% end %>
                      </li>
                    </ul>
                </div>
              <% end %>
            </div>
            <%end%>
          <% else %>
             <% if student_signed_in? %>
            <div class="card" style="background: #EEF1F6;"> <%= link_to student_offer_path(offer) do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
              <div class="card-logo">
                     <% if offer.company.photo.present? %>
                      <%= image_tag offer.company.photo%>
                    <% end %>
                </div>
              <div class="description-side">
                <h3><%= offer.function %></h3>
                <div>
                <p><%= Company.find(offer.company_id).name %></h3></p>
                </div>
                <ul>
                  <li>
                    <% if offer.duration?  %>
                     <p>Stage <%= offer.duration %> mois (à partir de  <%= @month%> <%=  offer.start_date.year %>)</p>
                    <% end %>
                  </li>
                  <li>
                    <% if offer.town?  %>
                     <p><%= offer.town %></p>
                    <% end %>
                  </li>
                  <li>
                      <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                      <% else %>
                        <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                      <% end %>
                  </li>
                </ul>
              </div>
            <% end %>
            </div>
            <% elsif company_signed_in? %>
              <div class="card" style="background: #EEF1F6;"> <%= link_to company_offer_path(offer) do %>
                <div class="card-logo">
                    <% if offer.company.photo.present? %>
                      <%= image_tag offer.company.photo%>
                    <% end %>
                </div>
                <div class="description-side">
                  <h3><%= offer.function %></h3>
                  <div>
                  <p><%= Company.find(offer.company_id).name %></h3></p>
                  </div>
                  <ul>
                    <li>
                      <% if offer.duration?  %>
                      <p>Stage <%= offer.duration %> mois (à partir de  <%= @month%> <%=  offer.start_date.year %>)</p>
                      <% end %>
                    </li>
                    <li>
                      <% if offer.town?  %>
                      <p><%= offer.town %></p>
                      <% end %>
                    </li>
                    <li>
                        <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                          <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                        <% else %>
                          <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                        <% end %>
                    </li>
                  </ul>
                </div>
              <% end %>
              </div>
            <% else %>
              <div class="card" style="background: #EEF1F6;"> <%= link_to offer do %>
              <%# <%= cl_image_tag offer.photo.key, height: 200, crop: :fill, class:"card-img" %>
                <div class="card-logo">
                    <% if offer.company.photo.present? %>
                      <%= image_tag offer.company.photo%>
                    <% end %>
                </div>
                <div class="description-side">
                  <h3><%= offer.function %></h3>
                  <div>
                  <p><%= Company.find(offer.company_id).name %></h3></p>
                  </div>
                  <ul>
                    <li>
                      <% if offer.duration?  %>
                      <p>Stage <%= offer.duration %> mois (à partir de  <%= @month%> <%=  offer.start_date.year %>)</p>
                      <% end %>
                    </li>
                    <li>
                      <% if offer.town?  %>
                      <p><%= offer.town %></p>
                      <% end %>
                    </li>
                    <li>
                        <% if (DateTime.now.to_date - offer.created_at.to_date).to_i == 1%>
                          <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jour</p>
                        <% else %>
                          <p>Publié il y'a <%= (DateTime.now.to_date - offer.created_at.to_date).to_i%> jours</p>
                        <% end %>
                    </li>
                  </ul>
                </div>
              <% end %>
              </div>
            <%end%>

          <% end %>
         <% end %>
      </div>
    </div>
</div>

<%= will_paginate @offers %>
<%# <%= paginate @offers1%>

<script>
console.log("zehma")
var elem = document.getElementsByClassName("previous_page");
var elem2 = document.getElementsByClassName("next_page");

elem[0].textContent = 'Précédent'
elem2[0].textContent = 'Suivant'

</script>


<style>
 .description-side {
   text-transform: capitalize;
   }


   .card-logo img {
    width: 100px;
    height: 80px;
}
</style>
