<div class="main-container">
  <div class= "container-flat-show">
    <div class="card-flat">
      <div class="card-flat-infos">
        <div class="card-title">
          <h2><%= @offer.function.capitalize %> - <%= @offer.company.name.capitalize %> </h2>
        </div>
        <div class="card-shower-offer">
          <div class="description2">
            <div class="picture">
              <%= image_tag( @offer.company.photo, {:style => "width:57px;height:57px;", class:"logos"}) %>
            </div>
            <div class="list3">
              <ul>
                      <li class="li1">
                        <i class="fa-solid fa-location-dot"></i> <p> <%= @offer.town%> </p>
                      </li>
                      <li class="li1">
                        <i class="fa-solid fa-euro-sign"></i><p> <%= @offer.salary %>€ </p>
                      </li>
                      <li class="li1">
                        <i class="fa-sharp fa-solid fa-calendar-days" style="margin-right:2px;"></i><p> <%= @month %> <%=@offer.start_date.year%></p>
                      </li>
                       <li class="li1">
                        <i class="fa-solid fa-globe" style="margin-right:2px;"></i><p>
                        <% if @offer.company.website? %>
                          <%= link_to "Site web", @offer.company.website, :target => "_blank" %>
                        <%end%>
                        </p>
                      </li>
              </ul>
            </div>
          </div>
          <div class= "picture-cardshow">
          </div>
        </div>
        <div class="card-description-offre">
          <p style="padding:10px;white-space:break-spaces"> <%= @offer.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class="container-form-applyn">
      <div class="col pt-1" data-controller="popup">
        <div class="d-flex">
          <button class="btn btn-primary btn-lg" data-action="click->popup#panel" data-popup-target="button" style="font-size:13px"> Postuler </button>
          <%= link_to "Liste des offres", offers_path, class: "btn btn-info",  style: "font-size:13px" %>
        </div>
        <div class="yeahd">
          <div href="#" class="yeahh d-none" data-popup-target="link">
            <h5>Oups... Tu dois être connecté(e) pour postuler à cette offre !</h5> <br> <br><br>
            <div style=" display: flex;justify-content: space-around;margin-bottom: 30px;">
              <%= link_to "Se connecter maintenant !", new_student_session_path, class: "btn btn-success"%>
              <button class="btn btn-primary" data-action="click->popup#reset"> Ok </button>
            </div>
          </div>
        </div>
        <div class="opaq opacity-0 d-none" data-popup-target="panel">
        </div>
      </div>
  </div>


<style>
.yeahh{
      position: unset;
      margin-bottom: 30px;
}

.logos{
  filter: unset;
}
</style>
