<div class="main-container">
  <div class= "container-flat-show">
    <div class="card-flat">
      <div class="card-flat-infos">
        <div class="card-title">
          <h2><%= @offer.function %> - <%= @offer.company.name %> </h2>
        </div>
        <div class="card-shower-offer">
          <div class="description2">
            <div class="picture">
              <%= image_tag( @offer.company.photo, {:style => "width:57px;height:57px;", class:"logos"}) %>
            </div>
            <div class="list3">
              <ul>
                      <li class="li1">
                        <i class="fa-solid fa-location-dot"></i> <p> <%= @offer.town%> </p>
                      </li>
                      <li class="li1">
                        <i class="fa-solid fa-euro-sign"></i><p> <%= @offer.salary %>€ </p>
                      </li>
                      <li class="li1">
                        <i class="fa-sharp fa-solid fa-calendar-days" style="margin-right:2px;"></i><p> <%= @month %> <%=@offer.start_date.year%></p>
                      </li>
              </ul>
            </div>
          </div>
          <div class= "picture-cardshow">
          </div>
        </div>
        <div class="card-description-offre">
          <p> <%= @offer.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container-form-booking">







      <div class="col pt-1" data-controller="popup">
        <div class="d-flex">
          <button class="btn btn-primary btn-lg" data-action="click->popup#panel" data-popup-target="button"> Postuler </button>
          <%= link_to "Liste des offres", offers_path, class: "btn btn-success" %>
        </div>

        <div href="#" class="yeahh d-none" data-popup-target="link">
          <h2>Oups... You should be connected to apply for this fabulous offer</h2>
          <div>
            <a class="button-login" href="http://localhost:3000/students/sign_in">Log in now</a>
            <button class="btn btn-primary" data-action="click->popup#reset"> Ok </button>
          </div>
        </div>
        <div class="opaq opacity-50 d-none" data-popup-target="panel">
        </div>
      </div>

  </div>
