<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
        <%= f.input :first_name,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "first_name"} %>
    <%= f.input :last_name,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "last_name"} %>
    <%= f.input :profile,
                collection: Student::PROFILES,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "profile"}%>
    <%= f.input :school,
                collection: ["", "", "", "", "", "", "", "", "", ""],
                required: false,
                autofocus: true,
                input_html: { autocomplete: "school", class: 'businessman'} %>
    <%= f.input :tongues,
                collection: Student::TONGUES,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "tongues"}%>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>



<script >
var e = document.getElementById("student_profile");
var a = document.getElementById("student_school")
//  var span = document.getElementById("GFG_Span");

var tablo = document.getElementsByClassName("student_school");

function onChange() {



  var value = e.value;
  var text = e.options[e.selectedIndex].text;
  var jo = a.options[a.selectedIndex].text
  // span.textContent = text;

  // if (text == "Business School") {
  //   document.getElementsByClassName("student_school")[0].classList.toggle("d-none")
  // }
  // else {
  //   document.getElementsByClassName("student_school")[0].classList.toggle("d-none")
  // }

  if (text == "Engineer School") {
    a.options[1].value = 'INSA'
    a.options[2].value = 'Polytech'
    a.options[3].value = 'CENTRALES SUPELEC'
    a.options[4].value = 'POLYTECHNIQUE'
    a.options[5].value = 'ECOLE DES MINES'
    a.options[6].value = 'ECOLE CENTRALES'
    a.options[7].value = 'ENSAE PARIS'
    a.options[8].value = 'CENTRALES LYON'
    a.options[9].value = 'CENTRALES PARIS'
    a.options[10].value = 'CENTRALES RENNES'
    a.options[1].textContent = 'INSA'
    a.options[2].textContent = 'Polytech'
    a.options[3].textContent = 'CENTRALES SUPELEC'
    a.options[4].textContent = 'POLYTECHNIQUE'
    a.options[5].textContent = 'ECOLE DES MINES'
    a.options[6].textContent = 'ECOLE CENTRALES'
    a.options[7].textContent = 'ENSAE PARIS'
    a.options[8].textContent = 'CENTRALES LYON'
    a.options[9].textContent = 'CENTRALES PARIS'
    a.options[10].textContent = 'CENTRALES RENNES'
  }
  else if (text == "Business School") {
    a.options[1].value = 'Audencia'
    a.options[2].value = 'Essec'
    a.options[3].value = 'EDHEC'
    a.options[4].value = 'EM Lyon'
    a.options[5].value = 'RSB'
    a.options[6].value = 'Kedge Business school'
    a.options[7].value = 'IMT TELECOM'
    a.options[8].value = 'ESCP'
    a.options[9].value = 'HEC'
    a.options[10].value = 'ICN BS'
    a.options[1].textContent = 'Audencia'
    a.options[2].textContent = 'Essec'
    a.options[3].textContent = 'EDHEC'
    a.options[4].textContent = 'EM Lyon'
    a.options[5].textContent = 'RSB'
    a.options[6].textContent = 'Kedge Business school'
    a.options[7].textContent = 'IMT TELECOM'
    a.options[8].textContent = 'ESCP'
    a.options[9].textContent = 'HEC'
    a.options[10].textContent = 'ICN BS'
  }
   else {
    a.options[1].value = 'Sciences Po Rennes'
    a.options[2].value = 'Fac de Nanterres'
    a.options[3].value = 'Université de Nantes'
    a.options[4].value = 'Université de Caen'
    a.options[5].value = 'Sciences po Paris'
    a.options[6].value = 'IAE PARIS'
    a.options[7].value = 'IAE REGION'
    a.options[8].value = 'Fac de Metz'
    a.options[9].value = 'Ecole des beaux-arts'
    a.options[10].value = 'Ecoles des arts'
    a.options[1].textContent = 'Sciences Po Rennes'
    a.options[2].textContent = 'Fac de Nanterres'
    a.options[3].textContent = 'Université de Nantes'
    a.options[4].textContent = 'Université de Caen'
    a.options[5].textContent = 'Sciences po Paris'
    a.options[6].textContent = 'IAE PARIS'
    a.options[7].textContent = 'IAE REGION'
    a.options[8].textContent = 'Fac de Metz'
    a.options[9].textContent = 'Ecole des beaux-arts'
    a.options[10].textContent = 'Ecole des arts'
  }





// if (n.classList.contains(".businessman")) {
//     var m = n.getAttribute("class");
//     console.log(m);
// }
}
e.onchange = onChange;
onChange();


</script>
