<div style="padding:30px">
  <h3>Inscription</h3>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :first_name,
                  label: 'Prénom',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "first_name"} %>
      <%= f.input :last_name,
                  label: 'Nom',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "last_name"} %>
      <%= f.input :phone_number,
                  label: 'Numéro de téléphone',
                  required: false,
                  autofocus: true,
                  placeholder: "07/06 ou +33...",
                  input_html: { autocomplete: "phone_number" }%>
      <%= f.input :profile,
                  collection: Student::PROFILES,
                  label: 'profil',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "profile"}%>
      <%= f.input :school,
                  label: 'Ecole',
                  collection: ["", "", "", "", "", "", "", "", "", "", ""],
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "school", class: 'businessman'} %>
      <%= f.input :year,
                  collection: Student::YEAR,
                  label: 'type de stage',
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "year"}%>
      <%= f.input :wanted_area,
                  label: "domaine recherché",
                  collection: Student::AREA,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "wanted_area"}%>
      <%= f.input :disponibility,
                  label: 'Disponibilité (à partir de)',
                  as: :date, html5: true,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "disponibility"}%>
      <%= f.input :mobility,
                  label: 'Mobilité',
                  collection: Student::MOBILITY,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "mobility"}%>
      <%= f.input :photo,
                  as: :file,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "photo"} %>
      <%= f.input :dossiers,
                  label: 'Télécharge ton CV !',
                  as: :file,
                  required: true,
                  autofocus: true,
                  input_html: { multiple: true, autocomplete: "photo"} %>
      <%= f.input :password,
                  label: 'Mot de passe',
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: 'Confirme ton mot de passe',
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "S'inscrire", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "students/shared/links" %>

</div>
  <%# <p class="forfunction"> The value of the option selected is:
        <span id="GFG_Span"></span>
    </p> %>




<%# <style>

.forfunction{
  display: none;
}
</style> %>



<script >
var e = document.getElementById("student_profile");
var a = document.getElementById("student_school")
//  var span = document.getElementById("GFG_Span");

var tablo = document.getElementsByClassName("student_school");

function onChange() {



  var value = e.value;
  var text = e.options[e.selectedIndex].text;
  var jo = a.options[a.selectedIndex].text
  // span.textContent = text;

  // if (text == "Business School") {
  //   document.getElementsByClassName("student_school")[0].classList.toggle("d-none")
  // }
  // else {
  //   document.getElementsByClassName("student_school")[0].classList.toggle("d-none")
  // }

  if (text == "Formation ingénieure") {
    a.options[1].value = 'INSA'
    a.options[2].value = 'Polytech'
    a.options[3].value = 'CENTRALES SUPELEC'
    a.options[4].value = 'POLYTECHNIQUE'
    a.options[5].value = 'ECOLE DES MINES'
    a.options[6].value = 'ECOLE CENTRALES'
    a.options[7].value = 'ENSAE PARIS'
    a.options[8].value = 'CENTRALES LYON'
    a.options[9].value = 'CENTRALES PARIS'
    a.options[10].value = 'CENTRALES RENNES'
    a.options[1].textContent = 'INSA'
    a.options[2].textContent = 'Polytech'
    a.options[3].textContent = 'CENTRALES SUPELEC'
    a.options[4].textContent = 'POLYTECHNIQUE'
    a.options[5].textContent = 'ECOLE DES MINES'
    a.options[6].textContent = 'ECOLE CENTRALES'
    a.options[7].textContent = 'ENSAE PARIS'
    a.options[8].textContent = 'CENTRALES LYON'
    a.options[9].textContent = 'CENTRALES PARIS'
    a.options[10].textContent = 'CENTRALES RENNES'
    a.options[11].textContent = 'Autre'
  }
  else if (text == "Business School") {
    a.options[1].value = 'Audencia'
    a.options[2].value = 'Essec'
    a.options[3].value = 'EDHEC'
    a.options[4].value = 'EM Lyon'
    a.options[5].value = 'RSB'
    a.options[6].value = 'Kedge Business school'
    a.options[7].value = 'IMT TELECOM'
    a.options[8].value = 'ESCP'
    a.options[9].value = 'HEC'
    a.options[10].value = 'ICN BS'
    a.options[1].textContent = 'Audencia'
    a.options[2].textContent = 'Essec'
    a.options[3].textContent = 'EDHEC'
    a.options[4].textContent = 'EM Lyon'
    a.options[5].textContent = 'RSB'
    a.options[6].textContent = 'Kedge Business school'
    a.options[7].textContent = 'IMT TELECOM'
    a.options[8].textContent = 'ESCP'
    a.options[9].textContent = 'HEC'
    a.options[10].textContent = 'ICN BS'
    a.options[11].textContent = 'Autre'
  }
   else {
    a.options[1].value = 'Sciences Po Rennes'
    a.options[2].value = 'Fac de Nanterres'
    a.options[3].value = 'Université de Nantes'
    a.options[4].value = 'Université de Caen'
    a.options[5].value = 'Sciences po Paris'
    a.options[6].value = 'IAE PARIS'
    a.options[7].value = 'IAE REGION'
    a.options[8].value = 'Fac de Metz'
    a.options[9].value = 'Ecole des beaux-arts'
    a.options[10].value = 'Ecoles des arts'
    a.options[1].textContent = 'Sciences Po Rennes'
    a.options[2].textContent = 'Fac de Nanterres'
    a.options[3].textContent = 'Université de Nantes'
    a.options[4].textContent = 'Université de Caen'
    a.options[5].textContent = 'Sciences po Paris'
    a.options[6].textContent = 'IAE PARIS'
    a.options[7].textContent = 'IAE REGION'
    a.options[8].textContent = 'Fac de Metz'
    a.options[9].textContent = 'Ecole des beaux-arts'
    a.options[10].textContent = 'Ecole des arts'
    a.options[11].textContent = 'autre'
  }





// if (n.classList.contains(".businessman")) {
//     var m = n.getAttribute("class");
//     console.log(m);
// }
}
e.onchange = onChange;
onChange();


</script>


<style>

.simple_form{
 padding: 10px;
}
</style>
